<% provide :page_title, application_name %>

<%= render '/flash_msg' %>

<%= render 'layouts/scholar/scholar_headline' %>

<div class="row home-content">
  <%= render 'layouts/scholar/home_content' %>
</div>
<%= tinymce_assets if can? :update, ContentBlock%>

<%= render 'layouts/scholar/links' %>

<%= render 'layouts/scholar/partner_headline' %>
<%= render 'layouts/scholar/partner_branding' %>
