<h2 id="welcome-to-scholaruc">Welcome to <%= t('hyrax.product_name') %>, UC Students</h2>
<p>Welcome to <%= t('hyrax.product_name') %>! In this email, you will learn how students can use <%= t('hyrax.product_name') %>.</p>

<h3 id="what-is-scholaruc">What is <%= t('hyrax.product_name') %>?</h3>
<p><%= t('hyrax.product_name') %> is a digital repository that enables the University of Cincinnati community to share research and scholarly work with a worldwide audience and preserve it for the future. It provides free access to material written, produced, and researched by the UC community. Read more about the mission of <%= t('hyrax.product_name') %> on the <a href="https://scholar.uc.edu/about">About page</a>. Get the latest updates on development of <%= t('hyrax.product_name') %> on our <a href="http://libapps.libraries.uc.edu/scholarblog/">Scholarblog</a>.</p>

<h3 id="how-can-students-use-scholaruc">How can students use <%= t('hyrax.product_name') %>?</h3>
<p>Although only faculty and staff can submit content to <%= t('hyrax.product_name') %> at this time, students can log in and view material in the repository for research or classroom work. <%= t('hyrax.product_name') %> is constantly growing and includes information like published articles, photographs, manuscripts, datasets, posters and much more.</p>

<p>In order to share scholarly output and creative works like capstone projects, students should work with a faculty member or advisor. Graduate students should continue to work with the <a href="http://grad.uc.edu/student-life/etd.html">Graduate School</a> for submission of electronic theses and dissertations.</p>

<h3 id="how-can-students-use-materials">How can I use material I find in <%= t('hyrax.product_name') %>?</h3>
<ul>
  <li><p><b>Is material in <%= t('hyrax.product_name') %> copyrighted?</b> The material in Scholar is subject to a variety of copyright protections; just as when using material from other database and online sources, you will want to check on the copyright. When uploading material to <%= t('hyrax.product_name') %>, submitters choose a content license or “access rights” for their content. An explanation of these licenses can be found on the <a href= "http://creativecommons.org/licenses/">Creative Commons website</a>. Still confused about copyright? See the UC Libraries’ <a href="http://guides.libraries.uc.edu/copyrightfair">campus guide on copyright.</a></p></li> 

  <li><p><b>Citing materials in <%= t('hyrax.product_name') %>: </b>Citing material in <%= t('hyrax.product_name') %> is similar to citing resources found in other database and online. See the <a href= "http://guides.libraries.uc.edu/citing">campus guide on citing your sources.</a></p></li> 

  <li><p><b>Terms of Use: </b>For more information, see the <%= t('hyrax.product_name') %> <a href="https://scholar.uc.edu/terms">Terms of Use.</a></p></li>
</ul>

<h4 id="need-further-assistance">Need Further Assistance?</h4>
<p><a href="https://scholar.uc.edu/contact">Contact the <%= t('hyrax.product_name') %> Team</a>.</p>