<h2 id="welcome-to-scholaruc">Welcome to <%= t('hyrax.product_name') %></h2>
<p>Welcome to <%= t('hyrax.product_name') %>! This email summarizes helpful information for using <%= t('hyrax.product_name') %>.</p>

<h3 id="what-is-scholaruc">What is <%= t('hyrax.product_name') %>?</h3>
<p><%= t('hyrax.product_name') %> is a digital repository that enables the University of Cincinnati community to share research and scholarly work with a worldwide audience and preserve it for the future. Read more about the mission of <%= t('hyrax.product_name') %> on the <a href="https://scholar.uc.edu/about">About page</a>. Get the latest updates on development of <%= t('hyrax.product_name') %> on our <a href="http://libapps.libraries.uc.edu/scholarblog/">Scholarblog</a>. All users, including non-registered users, of <%= t('hyrax.product_name') %> are bound by the <a href="https://scholar.uc.edu/terms">Terms of Use</a>.</p>

<h3 id="what-types-of-content-should-i-submit-to-scholaruc">What types of content should I submit to <%= t('hyrax.product_name') %>?</h3>
<p><%= t('hyrax.product_name') %> stores and preserves the scholarly output and creative works of UC faculty, staff, and students. Examples of appropriate content include, but are not limited to: <a href="https://en.wikipedia.org/wiki/Grey_literature">grey literature</a>, <a href="https://en.wikipedia.org/wiki/Preprint">pre-</a>, <a href="https://en.wikipedia.org/wiki/Postprint">post-</a>, and published versions of academic papers, manuscripts, senior design projects, posters, datasets, presentations, and other creative works. Content may be text, image, video, audio, or mixed-media in nature. Learn more about types of content you can share on the <a href="https://scholar.uc.edu/coll_policy">Collection Policy</a>.</p>
<p>Students should work with a faculty member to share scholarly output and creative works, such a capstone projects.</p>

<h3 id="how-do-i-get-started">How do I get started?</h3>
<p>After you have edited your profile page for the first time, you may share content by clicking on [Add New] from the menu.</p>

<h3 id="where-do-i-go-for-more-information">Where do I go for more information?</h3>
<p>Under the Help button on the main <%= t('hyrax.product_name') %> menu, you will find the following help topics:</p>

<ul>
  <li><a href="https://scholar.uc.edu/faq">FAQs</a> – Answers to a variety of commonly asked questions</li> 
  <li><a href="https://scholar.uc.edu/format_advice">File Format Advice</a> – Help with finding the right file format for the content you submit to <%= t('hyrax.product_name') %></li> 
  <li><a href="https://scholar.uc.edu/creators_rights">Creator’s Rights</a> – Information on Copyright and Intellectual Property</li>
</ul>

<h4 id="need-further-assistance">Need Further Assistance?</h4>
<p><a href="https://scholar.uc.edu/contact">Contact the <%= t('hyrax.product_name') %> Team</a>.</p>

