<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
      <p><%= t('sufia.brought_to_you_by_html') %></p>
      <p><%= t('sufia.made_possible_by_html') %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><%= t('sufia.terms_of_use_html') %> &nbsp;/&nbsp; <%= t('sufia.non_discrimination_notice_html') %></p>
        <p>Deployed on <%= "#{Sufia::BUILD_IDENTIFIER}" %></p>
      </div>
    </div>
  </div>
</footer>
