<div class="btn-group list_pages">
  <a class="btn btn-primary dropdown-toggle list_pages" data-toggle="dropdown" href="#">
    Help
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">
    <li><%= link_to "Accessibility", "http://uc.edu/ucit/community/accessibility.html", class: "accessibility", role: 'menuitem', target: '_blank'%></li>
    <li><%= link_to "Creator's Rights", creators_rights_request_path, class: 'creators_rights', role: 'menuitem' %></li>
    <li><%= link_to 'Documenting Data', data_help_request_path, class: 'documenting_data_help', role: 'menuitem' %></li>
    <li><%= link_to 'Fair Use', "http://librarycopyright.net/resources/fairuse/", class: 'fair_use', role: 'menuitem' %></li>
    <li><%= link_to 'FAQ', faq_request_path, class: 'faq', role: 'menuitem' %></li>
    <li><%= link_to 'File Format Advice', format_advice_request_path, class: 'format_advice', role: 'menuitem' %></li>
    <li><%= link_to "Student Works", student_works_help_path, class: 'student_works_help', role: 'menuitem' %></li>
    <li><%= link_to 'Welcome Page', new_welcome_page_path, class: 'welcome_page', role: 'menuitem' %></li>
  </ul>
</div>
