          <div id="title-bar" class="row-fluid">
            <div class="span12">
            <div id="site-title" class="pull-left">
              <%= link_to image_tag("uc/scholar@uc.png", :alt => "scholar.uc.edu"), root_path, id: 'home-link' %>
    	         <p id="site-subtitle">The UC digital repository, part of the <%= link_to 'UC Research Hub', "http://research.uc.edu" %>.</p>
            </div>

            <div id="logo" class="pull-right visible-desktop">
              <%= link_to image_tag("uc/UC_logo.png", :alt => "uc.edu"), "http://www.uc.edu/" %>
            </div>
          </div>
          </div>

          <div class="row-fluid">
            <div id="site-search" class="span6">
              <%= render 'shared/site_search' if show_site_search? %>
            </div>
            <div id="site-actions" class="span6" role="menu">
              <%= render 'shared/site_actions' if show_site_actions? %>
            </div>
          </div>
