  <% if file_set.mime_type == "image/gif" %>
    <%= image_tag thumbnail_url(file_set),
          class: "representative-media",
          alt: "",
          role: "presentation" %>
    <% if file_is_too_large_to_download(file_set) %>
      <%= show_request_file_button(file_set, t('hyrax.file_set.show.requestable_content.image_link')) %>
    <% else %>
      <%= link_to hyrax.download_path(file_set),
          target: :_blank,
          data: { turbolinks: false },
          class: "btn btn-default" do %>
            <%= t('hyrax.file_set.show.downloadable_content.image_link') %>
          <% end %>  
   <% end %>
<% else %>
    <%= UniversalViewer.script_tag %>
    <div class="uv viewer" data-uri="<%= main_app.polymorphic_path [main_app, :manifest, @presenter] %>"></div>
    </br>
  <% end %>
