<p>
  <%=t('sufia.product_name') %> is a digital repository that enables the <%=t('sufia.institution_name') %> community to share its research and scholarly work with a worldwide audience. Faculty and staff can use <%=t('sufia.product_name') %> to collect their work in one location and create a durable and citeable record of their papers, presentations, publications, datasets, or other scholarly creations. Students, through an approved process, may contribute capstone projects such as senior design projects, theses, and dissertations.
</p>
<p>
  The mission of <%=t('sufia.product_name') %> is to preserve the permanent intellectual output of UC, to advance discovery and innovation, to foster scholarship and learning through the transformation of data into knowledge, to collect a corpus of works that can be used for teaching and to inspire derivative works, and to enhance discoverability and access to these resources.
</p>
<p>
  <%=t('sufia.product_name') %> is an open source, agile development project supported in partnership by the <%=t('sufia.institution_name') %> Libraries and UC Information Technologies. Our source code repository is found on github.com in two places: <a href="https://github.com/uclibs/scholar_uc" target="_blank">our application code</a> and a <a href="https://github.com/projecthydra/sufia" target="_blank">Ruby on Rails engine</a>.  Our application is built on top of <a href="http://projecthydra.org" target="_blank">Project Hydra</a>, a repository framework used by institutions worldwide to provide access to their digital content, and an open source community to facilitate shared software development.
</p>
<p>
  The development of Scholar@UC is aided by a group of early adopters who help to prioritize new developments.  To join this group (or to directly suggest improvements) <a href="<%= sufia.contact_path %>">contact the Scholar@UC team</a>.  Regular updates about Scholar@UC can be found on <a href="http://libapps.libraries.uc.edu/scholarblog" target="_blank">ScholarBlog: the blog for Scholar@UC</a>.  For additional information, please <a href="<%= sufia.contact_path %>">contact the Scholar@UC team</a>.
</p>
