<p>
By agreeing to and submitting this license, you (the creator(s) or copyright owner(s)) grant to the <%= I18n.t('hyrax.institution_name') %> the non-exclusive right to reproduce, migrate or transfer, and/or distribute your submission (including the abstract) worldwide in print and electronic format and in any medium, including but not limited to audio, video, or a computer interface. If you are an authorized submission proxy, the creator(s) or copyright owner(s) are bound by the terms of this license.
</p>

<p>
You agree that the <%= I18n.t('hyrax.institution_name') %> may, without changing the content, migrate or transfer the submission to any medium or format for the purpose of preservation. You agree that the <%= I18n.t('hyrax.institution_name') %> may revise or enhance the descriptive and access metadata associated with your submission.
</p>

<p>
You agree that <%= I18n.t('hyrax.institution_name') %> may keep or transmit to additional, non-public archives more than one copy of this submission for purposes of security, back-up, and preservation.
</p>

<p>
You understand that you may request the <%= I18n.t('hyrax.institution_name') %> to remove your submitted materials from the repository; however, you acknowledge that the <%= I18n.t('hyrax.institution_name') %> cannot control or retract works that may have been accessed by third parties prior to your request for removal. If the submission is removed you agree that the item can be replaced by a page with a statement declaring that the item was removed by your request.
</p>

<p>
You warrant and represent that you have the full right, power, and authority to enter into this Agreement and to grant the rights granted herein; and that the University’s inclusion and use of the work will not violate any rights of any kind or nature whatsoever, including copyright, of any third party.  You warrant and represent submission materials which contain work for which you do not hold copyright that use of such work constitutes fair use, or you have obtained the unrestricted permission from the copyright owner to grant the <%= I18n.t('hyrax.institution_name') %> the rights required under this license.  You shall noticeably point out and provide appropriate attribution to such third-party owned material within the text or content of the submission.  Where challenges to copyright arise, the <%= I18n.t('hyrax.institution_name') %> reserves the right to restrict access to and/or remove the material.
</p>

<p>
You agree that this submission does not include data that is classified as restricted, per the <a href="http://www.uc.edu/content/dam/uc/infosec/docs/policies/Data_Protection_Policy_9_1_1.pdf"><%= I18n.t('hyrax.institution_name') %> Data Protection Policy, Policy 9.1.1</a>, does not to your knowledge contain malicious software, and adheres to <a href="http://www.uc.edu/infosec/policies.html"><%= I18n.t('hyrax.institution_name') %> computing policies and guidelines</a>.
</p>

<p>
<%=I18n.t('hyrax.product_name')%> affirms the academic freedom principles outlined in the <a href="http://www.uc.edu/content/dam/uc/provost/docs/academicpersonnel/a-z/AAUP-UC 2013-16 CBA_4June14.pdf"><i>Collective Bargaining Agreement between the <%= I18n.t('hyrax.institution_name') %> and American Association of University Professors <%= I18n.t('hyrax.institution_name') %> Chapter</i></a> (Article 2 and Article 3). <%=I18n.t('hyrax.product_name')%> also recognizes the <%= I18n.t('hyrax.institution_name') %>’s existing Copyright (<a href="http://www.uc.edu/content/dam/uc/trustees/docs/rules_10/10-19-02.pdf">University Rule 3361:10-19-02</a>) and Patent (<a href="http://www.uc.edu/content/dam/uc/trustees/docs/rules_10/10-19-01.pdf">University Rule 3361:10-19-01</a>) policies.
</p>

<p>
IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED BY AN AGENCY OR ORGANIZATION OTHER THAN THE UNIVERSITY OF CINCINNATI, YOU REPRESENT THAT YOU HAVE FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY ANY CONTRACT OR AGREEMENT WITH SUCH AGENCY OR ORGANIZATION.
</p>

<p>
<%= I18n.t('hyrax.institution_name') %> will clearly identify your name(s) as the creator(s) or owner(s) of the submission, and will not make any alteration, other than as allowed by this license, to your submission.
</p>

<p>
Non-Exclusive Distribution License
<br/><%=I18n.t('hyrax.product_name')%>
<p>Approved by the Office of General Counsel, 03-23-2015</p>
</p>