<h2>Help Resources</h2>

<dl class="help-description">
  <dt><%= link_to "Accessibility at UC", "http://uc.edu/ucit/community/accessibility.html", target: '_blank' %></dt>
  <dd>Information about the University of Cincinnati's Accessibility Network</dd>

  <dt><%= link_to "Creator's Rights", creators_rights_path %></dt>
  <dd>An explanation of what rights you may hold as the creator of a work</dd>

  <dt><%= link_to 'Documenting Data', documenting_data_path %></dt>
  <dd>Suggestions for providing context for your data</dd>

  <dt><%= link_to 'Fair Use', "http://librarycopyright.net/resources/fairuse/", target: '_blank' %></dt>
  <dd>A resource for evaluating fair use</dd>

  <dt><%= link_to 'FAQ', faq_path %></dt>
  <dd>Answers to frequently asked questions about Scholar@UC</dd>

  <dt><%= link_to 'File Format Advice', format_advice_path %></dt>
  <dd>How to choose the best file formats for your content</dd>

  <dt><%= link_to "Student Works", student_work_help_path %></dt>
  <dd>Help for students wanting to add content to Scholar@UC</dd>

  <dt><%= link_to 'Welcome Page', welcome_page_index_path %></dt>
  <dd>The welcome page all Scholar@UC users see after their first log in</dd>
</dl>
