
<div class="container">
  <div class="row-fluid">
    <div class="span12">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">

          <div class="item active">
            <%= image_tag("slider-images/scholarstories.jpg", :alt => "ScholarStories") %>
            <div class="container">
              <div class="carousel-caption text-center">
                <h2>Scholar Stories</h2>
                <p>Scholar@UC supports published and unpublished scholarly articles and more.</p>
                <%= link_to 'Begin!', "http://libapps.libraries.uc.edu/scholarblog/category/scholar-stories/", class: 'btn btn-lg btn-primary', role: 'button' %>
              </div>
            </div>
          </div>

          <div class="item">
          <%= image_tag("slider-images/articles.jpg", :alt => "Articles") %>
          <div class="container">
            <div class="carousel-caption text-center">
              <h2>Scholarly Articles</h2>
              <p>Scholar@UC supports published and unpublished scholarly articles and more.</p>
              <%= link_to 'Begin!', catalog_index_path, class: 'btn btn-lg btn-primary', role: 'button' %>
            </div>
          </div>
        </div>

          <div class="item">
            <%= image_tag("slider-images/datasets.jpg", :alt => "Datasets") %>
            <div class="container">
              <div class="carousel-caption text-center">
                <h2>Data and Datasets</h2>
                <p>Mine Datasets Created by UC Faculty or submit your own.</p>
                <%= link_to 'Begin!', catalog_index_path, class: 'btn btn-lg btn-primary', role: 'button' %>
              </div>
            </div>
          </div>

          <!--<div class="item">-->
            <%#= image_tag("slider-images/etd.jpg", :alt => "ETDs") %>
            <!--<div class="container">-->
              <!--<div class="carousel-caption text-center">-->
                <!--<h2>UC Electronic Theses and Dissertations</h2>-->
                <!--<p>Scholar@UC supports ETDs, capstone projects and more from UC’s Student Scholars.</p>-->
                <%#= link_to 'Begin!', catalog_index_path, class: 'btn btn-lg btn-primary', role: 'button' %>
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <div class="item">
            <%= image_tag("slider-images/images.jpg", :alt => "Images") %>
            <div class="container">
              <div class="carousel-caption text-center">
                <h2>Photos, Artwork, Images</h2>
                <p>Scholar@UC supports Images and Visual Media.</p>
                <%= link_to 'Begin!', catalog_index_path, class: 'btn btn-lg btn-primary', role: 'button' %>
              </div>
            </div>
          </div>

          <div class="item">
            <%= image_tag("slider-images/other2.jpg", :alt => "Other") %>
            <div class="container">
              <div class="carousel-caption text-center">
                <h2>Monographs, Maps, Media, and More</h2>
                <p>Scholar@UC can hold Unique Content of Many Types.</p>
                <%= link_to 'Begin!', catalog_index_path, class: 'btn btn-lg btn-primary', role: 'button' %>
              </div>
            </div>
          </div>

        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

      </div>

    </div>
  </div>
</div>
