<% content_for :page_title, "#{application_name} FAQ" %>
<%= render 'shared/header' %>
<%= render 'shared/flash_message' %>

<div class="container">
  <div class="row">
    <div class="span12">
 
<h2>
	FAQ
</h2>

<p>
	May I publish, contribute, or otherwise distribute my content elsewhere?
</p>
<blockquote>
  Yes. When you submit content to Scholar@UC you agree to a non-exclusive <%= link_to 'distribution license', distribution_license_request_path, class: 'a' %> that grants UC the right to enhance metadata, to replicate the content for preservation, and to make the content available through computer interfaces. This license in no way prevents you from distributing your content through other channels.
</blockquote>

<p>
  If I have a problem with the system, where do I go for assistance?
</p>
<blockquote>
  Use the <%= link_to 'contact form', new_help_request_path, class: 'a' %> to submit any inquiry about Scholar@UC, including technical issues.
</blockquote>

<p>
  Where do I go if I want to consult with subject area specialists on content?
</p>
<blockquote>
  Access the <a href="http://www.libraries.uc.edu/help/subject-librarians.html">Subject Librarians directory</a> to find contact info for subject area specialists.
</blockquote>

<p>
  How can I allow someone else to submit works on my behalf?
</p>
<blockquote>
  Scholar@UC allows you to assign delegates, who will be able to submit new works on your behalf. They will retain access to modify these works until you remove their access. If you're logged in, you can access this from the "My Delegates" link under your account name, above.
</blockquote>

<p>
  How can I group my works into collections of related works?
</p>
<blockquote>
  Scholar@UC allows you to create collections, to which you can add any works that you or others have submitted to Scholar@UC. You can set a custom title, description, and image for your collections.
</blockquote>

<p>
  How can I share access to selected works with a group of collaborators?
</p>
<blockquote>
  Scholar@UC allows you to create groups of collaborators, which you can assign to individual works. This will give individuals in the group the ability to edit assigned works and to view restricted works of yours. You can also assign editing rights to individuals, without first placing them in groups, by designating them as editors of your work. If you're logged in, you can access this from the "My Groups" link under your account name, above.
</blockquote>

<p> 
What happens to my works if I delete them?
</p>
<blockquote>
  If you have not requested a Digital Object Identifier (DOI) for your work, you can withdraw any works you have submitted and they will be removed from Scholar@UC. If you have requested a DOI, the work will be removed from Scholar@UC, but a brief citation will be retained at our DOI provider's website that displays the work's citation information, and the reason for it's unavailability.
</blockquote>

 
    </div>
  </div>
</div>

<%= render 'footer' %>
