<!DOCTYPE html>
<html lang="<%= t("hyrax.document_language") %>">
<head>
  <%= render "layouts/head_tag_content"%>
</head>

<body>
<%= render 'splash_masthead' %>
<%= render 'splash_searchbar' %>
<%= render '/flash_msg' %>
<div id="content-wrapper" class="container-fluid">

<%= render 'splash_home_header' %>
<%= render 'splash_home_content' %>

  <%= yield %>
</div><!-- /#content-wrapper -->
<%= render 'splash_footer' %>
<%= render 'shared/ajax_modal' %>
</body>
</html>
