<%= form_for @user, url: hyrax.profile_path(@user.to_param), html: {multipart: true, class: 'form-horizontal' } do |f| %>
<div class="row">
  <div class="col-sm-5">
    <div class="form-group">
      <%= f.label :avatar, '<i class="glyphicon glyphicon-camera"></i> Change picture'.html_safe, class: "col-xs-4 control-label" %>
      <div class="col-xs-8">
        <%= image_tag @user.avatar.url(:thumb) if @user.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
        <span class="help-block">JPG, GIF, or PNG (less than 2MB)</span>

        <div class="checkbox">
          <%= f.label :remove_avatar do %>
            <%= f.check_box :remove_avatar %>
            Delete picture
            <a href="#" id="delete_picture_help" data-toggle="popover" data-content="If you would like to remove your picture entirely, check the box and save your profile." data-original-title="Delete Picture"><i class="glyphicon glyphicon-question-sign"></i></a>
          <% end %>
        </div>
        <div class="checkbox">
          <%= f.label :update_directory do %>
            <%= f.check_box :update_directory %>
            Refresh directory info
            <a href="#" id="refresh_directory_help" data-toggle="popover" data-content="The information displayed in your profile comes from <%=institution_name %>'s central directory (LDAP) and is cached by <%=application_name %>.  If you have updated that information and don't see those changes in your <%=application_name %> profile, check the box and save your profile." data-original-title="Refresh Directory Info"><i class="glyphicon glyphicon-question-sign"></i></a>
          <% end %>
        </div>
      </div>
    </div><!-- .form-group -->
  </div><!-- col -->
</div><!-- row -->

<div class="row">
  <div class="col-md-5"> <!-- identity -->
    <div class="form-group">
      <%= f.label :first_name, 'First name', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :first_name, class: "form-control" %>
         <span id="helpBlock" class="help-block">(include any middle names or initials here, if desired)</span>
      </div>
    </div><!-- .form-group -->

    <div class="form-group">
      <%= f.label :last_name, 'Last name', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div><!-- .form-group -->

    <div class="form-group">
      <%= f.label :title, 'Job title', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :title, class: "form-control" %>
      </div>
    </div><!-- .form-group -->

    <div class="form-group">
      <%= f.label :ucdepartment, 'Department', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :ucdepartment, class: "form-control", readonly: true %>
      </div>
    </div><!-- .form-group -->

    <div class="form-group">
      <%= f.label :uc_affiliation, 'UC affiliation', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :uc_affiliation, class: "form-control", readonly: true %>
      </div>
    </div><!-- .form-group -->

    </div><!-- col -->

    <div class="col-md-5"> <!-- contact -->

    <div class="form-group">
      <%= f.label :email, 'Email', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :email, class: "form-control", readonly: true %>
      </div>
    </div><!-- .form-group -->

    <div class="form-group">
      <%= f.label :alternate_email, 'Alternate email', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :alternate_email, class: "form-control" %>
      </div>
    </div><!-- .form-group -->

    <div class="form-group">
      <%= f.label :telephone, 'Campus phone number', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :telephone, class: "form-control" %>
      </div>
    </div><!-- .form-group -->

    <div class="form-group">
      <%= f.label :alternate_phone_number, 'Alternate phone number', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :alternate_phone_number, class: "form-control" %>
      </div>
    </div><!-- .form-group -->

    <div class="form-group">
      <%= f.label :website, 'Personal webpage', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :website, class: "form-control" %>
      </div>
    </div><!-- .form-group -->

    <div class="form-group">
      <%= f.label :blog, 'Blog', class: 'col-xs-4 control-label' %>
      <div class="col-xs-8">
         <%= f.text_field :blog, class: "form-control" %>
      </div>
    </div><!-- .form-group -->

    <%= render 'trophy_edit', trophies: @trophies %>
  </div><!-- col -->
</div><!-- row -->
  <%= f.button '<i class="glyphicon glyphicon-save"></i> Save Profile'.html_safe, type: 'submit', class: "btn btn-primary" %>
<% end %>
<div class='row'>
  <div id="user-edit-proxy" class='pull-left panel panel-default'>
    <div class="panel-heading">Manage Proxies</div>
    <div class="panel-body">
    <%= render 'hyrax/dashboard/_index_partials/proxy_rights', user: @user %>
    </div>
  </div>
</div>
<div class="row orcid-section">
  <div class="col-md-5 well">
      <% defined?(status_processor) || status_processor = Orcid::ProfileStatus.method(:for) %>
        <% status_processor.call(current_user) do |on| %>
          <% on.authenticated_connection do |profile| %>
          <% end %>
        <% end %>
      <%= render partial: 'orcid/profile_connections/orcid_connector', locals: {default_search_text: current_user.name } %>
  </div>
</div>
