<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= content_for?(:page_title) ? yield(:page_title) : default_page_title %></title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<% if controller.class.ancestors.include?(CurationConcern::BaseController) && controller.action_name == 'new' %>
	<body data-no-turbolinks="false">
<% else %>
	<body data-no-turbolink="true">
<% end %>

  <%= yield %>

</body>
</html>
