<%- remote_service = Hydra::RemoteIdentifier.remote_service(:doi) -%>
    <%- if curation_concern.doi.present? -%>
      <div class="form-group doi">
        <h2>DOI</h2>

        <p>
          This work has a <abbr title="Digital Object Identifier">DOI</abbr>.
        </p>

        <p>
          <strong><%= link_to curation_concern.doi, remote_service.remote_uri_for(curation_concern.doi).to_s %></strong>
        </p>

        <p>
          This <abbr title="Digital Object Identifier" data-placement="right">DOI</abbr> link is the best way for others to cite your work.
        </p>
      </div>

    <%- else -%>

      <div class="form-group set-doi">
        <h2>Assign a DOI</h2>

        <p>
          A <abbr title="Digital Object Identifier" data-placement="right">DOI</abbr> is a permanent link to your work.
          It&rsquo;s an easy way for other people to cite your work.
        </p>

        <p>
          Want more information on <abbr title="Digital Object Identifier">DOI</abbr>s?
          Here&rsquo;s a <a href="http://simple.wikipedia.org/wiki/Doi" target="_blank">brief summary</a> and the <a href="http://www.doi.org/faq.html" target="_blank">DOI FAQ</a>.
        </p>

        <div class="control-group">

          <%- if remote_service.registered?(curation_concern) -%>
            <label class="radio">
              <input type="radio" name="<%= f.object_name %>[doi_assignment_strategy]" id="mint-doi" value="<%= remote_service.accessor_name %>" <% if curation_concern.doi_assignment_strategy == remote_service.accessor_name.to_s %> checked="true"<% end %> />
              <span class="label-text">
                Yes, I would like to create a <abbr title="Digital Object Identifier">DOI</abbr> for this <%= curation_concern.human_readable_type %>.
              </span>
            </label>
          <%- end -%>

          <label class="radio">
            <input type="radio" name="<%= f.object_name %>[doi_assignment_strategy]" id="no-doi" value="<%= RemotelyIdentifiedByDoi::ALREADY_GOT_ONE %>" <% if curation_concern.doi_assignment_strategy == RemotelyIdentifiedByDoi::ALREADY_GOT_ONE %> checked="true"<% end %> />
            <span class="label-text">
              Yes, I already have one that I want to use: <%= render_edit_field_partial(:existing_identifier, f: f) %>
            </span>
          </label>

          <label class="radio">
            <input type="radio" checked name="<%= f.object_name %>[doi_assignment_strategy]" id="not-now" value="<%= RemotelyIdentifiedByDoi::NOT_NOW %>" <% if curation_concern.doi_assignment_strategy == RemotelyIdentifiedByDoi::NOT_NOW %> checked="true"<% end %> />
            <span class="label-text">
              Not now&hellip;<em>but maybe later.</em>
            </span>
          </label>

          <p>
            The <em>Publisher</em> field must be set if you request a DOI.
          </p>

        </div>
      </div>
    <%- end -%>
